section .heading {
    font-size: 20px;
    font-weight: bold;
}

section.classes-schedule li:hover, section.my-neighbor li:hover, section.favourite-movies li:hover {
    background-color: #798fa8;
    border-radius: 18px;
    color: whitesmoke;
}

section.classes-schedule, section.favourite-movies li{
    padding: 5px;
    width: 300px;
}

.introduction {
    color: whitesmoke;
}

.introduction .into{
    background-color: #798fa8;
    padding: 10px;
    margin: 10px;
    border-radius: 18px;
}

.introduction .into em {
    color: #0F4C81;
    font-weight: bold;
    font-style: normal;
}

.introduction .heading {
    color: #0F4C81;
    font-size: 30px;
}

.favourite-movies ol {
    display: flex;
    flex-direction: column-reverse;
}

.my-mood .content .tooltip {
    display: inline-block;
    height: 250px;
}

.my-mood img {
    height: 200px;
    width: 200px;
}

.my-mood img:hover {
    width: 220px;
}

section.my-neighbor li {
    width: 340px;
    padding: 5px;
}
