body {
    color: #0F4C81;
}
header h1 {
    background-color: #798fa8;
    border-radius: 18px;
    color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
}
section.myself img {
    width: 230px;
    height: 300px;
    border-radius: 5%;
}

section.myself {
    display: inline-flex;
    padding-right: 20px;
}

section.myself h1 {
    padding-left: 20px;
}

section.myself .hobbies{
    padding-left: 35px;
}