body {
    color: #0F4C81;
}
header h1 {
    background-color: #0f4c81;
    border-radius: 18px;
    color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
}
section img#myself {
    width: 230px;
    height: 300px;
    border-radius: 5%;
    flex: 1;
}

section.info {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

section.info h2 {
    flex: 0 0 65%;
}