/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #798fa8;
    color: #0F4C81;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}