.bg-classic-blue {
    background-color: #e7552c;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #F8F8FF;
}

.table td,
.table th {
    vertical-align: middle;
}

.mailto {
    color: #e7552c;
}

#image {
    background-image: url("/thevinhtrang/images/hcmc-photo2.jpg");
    height: 176px;
}

.btn-primary {
    background-color: #e7552c;
    border-color: #e7552c;
}